{% extends "admin/layout.twig" %}

{% block head %}
    <link rel="stylesheet" href="{{ app.request.basepath }}/bower_components/bootstrap-css/css/bootstrap.min.css">
    <script src="{{ app.request.basepath }}/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="{{ app.request.basepath }}/bower_components/datatables/media/js/jquery.dataTables.min.js"></script>
    <link href="http://fonts.googleapis.com/css?family=Lobster" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Cabin" rel="stylesheet" type="text/css">
    <script src="{{ app.request.basepath }}/bower_components/ckeditor/ckeditor.js"></script>
    <script src="{{ app.request.basepath }}/assets/admin/plugins/jasny/jasny-bootstrap.min.js"></script>
    <link href="{{ app.request.basepath }}/assets/admin/plugins/jasny/jasny-bootstrap.min.css" rel="stylesheet"/>
    <script src="{{ app.request.basepath }}/bower_components/ckeditor/adapters/jquery.js"></script>
    <script>
    $(document).ready(function() {
        var table = $('#overview').DataTable( {
            language: {
                search: "",
                searchPlaceholder: "Search...",
            },
            bPaginate: false,
            bInfo: false
        });
    
        $('#dataTablesSearch').on( 'keyup', function () {
            table.search( this.value ).draw();
        } );
    });
    </script>
    <style>
    
    
    h1, h2, h3, h4, h5 {
        font-family: 'Lobster', Georgia, Times, serif;
        font-size:26px;
        line-height:26px;
    }
    
    body {
        font-family: 'Cabin', Helvetica, Arial, sans-serif;
        font-size: 15px;
        line-height: 25px;
        color:white;
        background: #383838;
    }
    
    input, textarea {
        color:black;
    }
    
    #nav a {
        color:white;
    }
    
    .wrapper {
        width:1000px;
        margin:0 auto;
        padding:40px 10px;
        position:relative;
    }

    table .glyphicon {
        font-size: 20px;
    }
    
    .btn-black, .btn-black:hover, .input-group-addon, .input-group-addon:hover {
        background:#373737;
        color:white;
        border: 1px solid #373737;
        border-right: 0;
    }
    
    table, table a {
        color:white;
    }

    .tableHeader {
        margin-bottom:15px;
    }

    .dataTables_filter {
      display: none;
    }
    
    input, textarea, #form .cke, select {
        margin-bottom:1em;
    }
    label { 
        display:block;
    }
    
    .btn-file {
        width:48.5%;
    }
    
    .gallery_item input {
        margin-bottom:5px;
    }

    </style>
{% endblock %}

{% block content %}
    
    <div class="tableHeader col-md-12" style="padding:13px 0px; background:rgba(0,0,0,0.35);">
        <div class="col-md-6">
            <a href="{{ path(overview_route) }}" class="btn btn-black btn-md" role="button">
                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span> Back to {{form_type|lower}} overview
            </a>
        </div>
        <div class="clearfix"></div>
    </div>
    
    <div class="tableContent col-md-12" style="padding:5px 15px; background:rgba(0,0,0,0.35);">
        {{ form_start(form) }}
        {{ form_widget(form) }}

        <input type="submit" name="submit" />
        {{ form_end(form) }}
        
        <script src="{{ app.request.basePath }}/assets/admin/plugins/fileupload/js/vendor/jquery.ui.widget.js"></script>
        <script src="{{ app.request.basePath }}/assets/admin/plugins/fileupload/js/jquery.iframe-transport.js"></script>
        <script src="{{ app.request.basePath }}/assets/admin/plugins/fileupload/js/jquery.fileupload.js"></script>
        <script src="{{ app.request.basePath }}/assets/admin/plugins/image-picker/image-picker.js"></script>

        <script src="{{ app.request.basePath }}/assets/admin/js/app-video.js"></script>
        <script src="{{ app.request.basePath }}/assets/admin/js/app-picture.js"></script>
        <script src="{{ app.request.basePath }}/assets/admin/js/app-fileupload.js"></script>
        <script>
            $("textarea").ckeditor();
        </script>
    </div>
{% endblock %}