<html>
<link rel="stylesheet" href="{{ app.request.basepath }}/bower_components/bootstrap-css/css/bootstrap.min.css">

<script src="{{ app.request.basepath }}/bower_components/jquery/dist/jquery.min.js"></script>
<script src="{{ app.request.basepath }}/bower_components/ckeditor/ckeditor.js"></script>
<script src="{{ app.request.basepath }}/bower_components/ckeditor/adapters/jquery.js"></script>
<style>
input, textarea, #form .cke, select {
    margin-bottom:1em;
}
label { 
    display:block;
}
.wrapper {
    width:600px;
    margin:0 auto;
}
</style>
</html>
<body>
    <div class="wrapper">
        <form action="#" method="post">
            {{ form_widget(form) }}

            <input type="submit" name="submit" />
        </form>
        <script>
            $("textarea").ckeditor();
        </script>
    </div>
</body>
