<div>
    <div class="gallery_item" style="padding:5px; border:1px solid #ccc; border-radius:5px;">
    <div>
        {{ form_widget(form.term1) }}
    </div> 
    <div>

        {{ form_widget(form.term2) }}

    </div> 
    <div>

        {{ form_widget(form.english_word) }}

    </div>
    {{ form_widget(form.file) }}
    {{ form_widget(form.view_status) }}
    <a href="#" style="float:right; width:35px; right:0; top:-15px; position:absolute;" class="btn-file btn btn-danger delete_picture_form">X</a>
    </div>
    
</div>
